{% extends 'base.html' %}
{% block container %}

    <h1 class="display-5 mt-4">Летим из <span data-test="from">{{ letim_iz }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ n }}</span> туров, от <span data-test="pricemin">{{ pricemin }}</span> до <span data-test="pricemax">{{ pricemax }}</span> и от <span data-test="nightsmax">{{ nights_from }}</span> ночей до <span data-test="nightsmax">{{ nights_to }}</span> ночей</p>
    <!-- HERO -->


    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
        {% for id, tour in dep_tours.items %}
        <div class="col-4" data-test="card">
            <div class="card mb-3" >
                <img src="{{ tour.picture }}" class="card-img-top img-fluid" data-test="picture">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.title }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/tour/{{ id }}/" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
